
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChooseLoginOption</title>
</head>
<body>
    <div>
        @Html.ActionLink("Klant", "Index")
        @Html.ActionLink("Werknemer", "Adminarea") |
    </div>
</body>
</html>
