
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChooseLoginOption</title>
    <style>

        html, body {
            height: 100%;
        }

        html {
            display: table;
            margin: auto;
        }

        body {
            background-image: url("../../Images/abstract.jpg");
            display: table-cell;
            vertical-align: middle;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50%;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
        }

        #button {
            border-radius: 25px;
            border: none;
            color: white;
            background-color: aqua;
        }
    </style>
</head>
<body>
    <div>
        @Html.ActionLink("Klant", "Index")
        @Html.ActionLink("Werknemer", "Adminarea") |
    </div>
</body>
</html>
